bin/
obj/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

front-client/node_modules/
infra/backups/
infra/docker-compose.yml
infra/docker-compose.override.yml
infra/docker-compose.override.yml.example
infra/docker-compose.override.yml.example.env
infra/docker-compose.override.yml.example.env.example
infra/docker-compose.override.yml.example.env.example.env

front-client/node_modules/
back-end/flish/flish/obj/
back-end/flish/flish/bin/
/storage/
storage/