POSTGRES_DB=flish
POSTGRES_USER=flish
POSTGRES_PASSWORD=flishIsCool1993

FLISH_BASIC_USER=admin
FLISH_BASIC_PASSWORD=flishIsCool1993-too

MASTER_DIRECTORY=/srv/flish/master
WEB_PORT=10001
MAX_UPLOAD_BYTES=5242880000 # 5000 MB
SCAN_INTERVAL_SECONDS=300

